.forecastboxes{
  display: flex;
  justify-content: space-between;
}

.forecastboxes div{
  margin: 3px;
}

.box{
  width: 19%;
  padding: 7px;
  border-radius: 5px;

}

.box h3{
  font-size: 16px;
  font-weight: bold;
}

.cities-list span{
  cursor: pointer;
}
.cities-list span.active{
  background-color: #007bff !important;
  color: white;
  border-radius: 5px;
}

.forecastboxes .box {
  background-color: #33475A;
  color: white;
}

.cities-list .span{
  background-color: black!important;
}

.cityTitle{
  display: inline;
  font-size: 1.8rem;
  font-weight: bold;
}

.info span{
  font-size: 1.2rem;
  font-weight: bold;
  display: inline;
}

.info img{
  display: inline;
}